<html>
  <head><title>upstox</title></head>
  <body>
    welcome
    <form accept-charset="UTF-8" action="/names" method="post">
      <div class="field">
          <label for="name">First Name</label><br>
          <input id="name" name="name" type="text" pattern=".{3,}" placeholder="Enter name" />
      </div>
      <input type="submit" value="Submit">
  </form>
  </body>
  <script>
    function test() {
      let name = document.getElementById('name').value;
      
    }
  </script>
</html>